        p{
            font-family: sans-serif;
            font-size: 17px;
            background-color: lightpink;
        }
        h1{
            font-family: sans-serif;
            font-style: italic;
            color: crimson;
            font-size: 18px;
            background-color: lightpink;
        }
        h2{
            font-family: sans-serif;
            color: crimson;
            font-size: 18px;
            background-color: lightpink;
        }
        h3{
            font-family: sans-serif;
            color: crimson;
            font-size: 18px;
            background-color: lightpink;
        }
        ul{
            font-family: sans-serif;
            font-size: 17px;
            background-color: lightpink;
        }